.about-me {
    display: flex;
    align-items: center
    
    
}

.about-me__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;

}

.about-me__img {
    display:flex;
    width: 40%;
    justify-content: space-evenly;

}

.about-me__img img {
    
    height: 220px;
}