header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 18px;
    background-color: darkblue;
    }

.header__logo {
    margin: 0px 20px;
}

.header__links a {
    margin: 0px 20px;
}

.header__social a {
    margin: 0px 20px;
}

.sprite { 
    background: url('assets/.sprite.png')
    no-repeat;
} 
.sprite.github {
     background-position: 0 0; width: 16px; height: 16px; 
    } 
    /* I try to make sprite but it didnt work./*