header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 18px;
    background-color: darkblue;
    
}

.header__logo {
    margin: 0px 20px;
}

.header__links a {
    margin: 0px 20px;
}

.header__social a {
    margin: 0px 20px;
}