body {
    background-color: lightgray;
    /* background-color: #0F1726; */
    /* color: white; */
}

* {
    border: solid 1px red !important;
    box-sizing: border-box;
}

.container {
    width: 1142px;
    margin: 0 auto;
}