.home__section.active,
.project__section.active,
.about__section.active,
.contact__section.active,
.skill__section.active,
.timeline.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}
.home__section{
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}
.home__heading{
    color: #fff;
    font-size: 120px;
    text-transform: capitalize;
    font-weight: 300;
}
.home__img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.2;
}