.about-me {
    display: flex;
    align-items: center;
    margin: 40px 20px;

}

.about-me__text {
        width:  70%;
}

.about-me__img {
    width: 20px;

}

.about-me__img img {
   height: 10px;
}

