.about-me {
    display: flex;
    align-items: center;
    margin: 40px 20px;

}

.about-me__text {
        width:  400px;
}

.about-me__img {
    width: 60%;

}

.about-me__img img {
   height: 200px;
}

