.about-me {
    display: flex;
    align-items: center;
    margin: 40px 20px;

}

.about-me__text {
        width:  70%;
}

.about-me__img {
    width: 30%;

}

.about-me__img img {
   width: 100%;
}

.about-me__text p {
    font-family: "Lato", sans-serif:
    color: #ffffff;
    font-size: 24px;
    line-height: 36px;
    margin: 20px 0px; 
}