.project {
    display: flex;
    flex-wrap: nowrap;
    background-color: #0F1726;
    border-radius: 10px;
    margin: 20px 20px;
    
}

.project__text {
    font-family: "Lato", sans-serif;
    width: 75%; 
    padding: 20px 30px;   
    
}

.project__resources {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px; 

}

.project__resource {
    display: flex;
    align-items: center;
    padding-right: 20px; 
    font-size: 16px; 
    font-weight: bold; 
}

.project__resource img {
    margin-right:10px;
    height: 18px;
}

.project__text p {
    font-size: 24px;
    line-height: 36px;;
    color: #C9C9C9;
    margin: 20px 0px; 
}

.project__img {
    width: 25%; 
    padding: 20px;   
}

.project__img img{
    width: 100%;
}