.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 20px;
}

.skills__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    background-color: #0F1726;
    border-radius: 10px;
    margin: 10px 5px;   
    font-family: "Lato", sans-serif; 
    font-weight: bold;
    font-size: 32px;
    padding: 20px 0px;
}

.skills__item img {
    margin-right:10px;
}