.icon {
    background: url('/Work/AntonsKorenevskis/04/assets/spritesheet.png');
    background-repeat: no-repeat;
    width: 33px;
    height: 26px;
}

.logo {
    background-position: 0 -96px;
    width: 81px;
    height: 28px;
    background-size: 110%;
    
}

.header-linkedin {
    background-position: 0 -40px;
    width: 81px;
    height: 31px;
    background-size: 35%;
}

.header-github {
    background-position: 4px -232px;
    width: 42px;
    height: 42px;
    background-size: 920%;
    
}

.css {
    background-position: 0 -198px;
    width: 42px;
    height: 42px;
    margin-right:10px;
}
.git {
    background-position: 0px -260px;
    width: 42px;
    height: 42px;
    margin-right:10px;
}
.github {
    background-position: 4px -319px;
    width: 53px;
    height: 42px;
    margin-right:10px;
}
.html {
    background-position: 0 -379px;
    width: 42px;
    height: 42px;
    margin-right:10px;
}
.js {
    background-position: 0 -438px;
    width: 42px;
    height: 42px;
    margin-right:10px;
}
.react {
    background-position: 0 -498px;
    width: 42px;
    height:42px;
    margin-right:10px;
}


.projects-html {
    background-position: 0 -185px;
    width: 21px;
    height: 20px;
    margin-right: 10px;
    background-size: 1190%;
}

.projects-css {
    background-position: 0 -97px;
    width: 21px;
    height: 20px;
    margin-right:10px;
    background-size: 1190%;
}


.projects-js {
    background-position: 0 -214px;
    width: 21px;
    height: 20px;
    margin-right:10px;
    background-size: 1190%;
}

.contacts-email {
    background-position: 0 20px;
    width: 60px;
    height: 60px;
}
.contacts-github {
    background-position: 4px -311px;
    width: 60px;
    height: 60px;
}
.contacts-messenger {
    background-position: 0px -83px;
    width: 60px;
    height: 60px;
}
.contacts-whatsapp {
    background-position: 0 -138px;
    width: 60px;
    height: 60px;
}


   