@import url(reset.css);
@import url(variables.css);
@import url(fonts.css);
@import url(icons.css);
@import url(header.css);
@import url(main.css);
@import url(about-me.css);
@import url(title.css);
@import url(skills.css);
@import url(project.css);
@import url(contacts.css);
@import url(footer.css);



body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: "Lato", sans-serif; 
}

/* *{
    border:solid 1px red!important;
} */


.container {
    width: 1142px;
    margin: 0 auto;
}





  