.main {
display: flex;
align-items: flex-start;
flex-direction: column;
}
.main__title {
font-size: 50px;
color: white;
padding: 42px 0px;
}
.main__button{
color: grey;
font-size:15px;
padding: 10px 10px;
border-radius: 5px;
}