body {
    color:white;
    background-color: black;
}

h1 {
    color: blueviolet;
}

p {
    color: rgb(87, 87, 214);
    font-size: 20px;
    font-weight: 600;
}


table {
width: 800px; 
margin: auto; 
}
td {
border: 3px solid rgb(21, 0, 128); 
text-align: center; 
}

h2 {
    font-size: 60px;
}

.title {
    color:chartreuse;
}


