/*skill */
.skill-container{
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.skill-card{
    height: 200px;
    border-radius: 10px;
    border: 1px solid #464646;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: .5s;
}
.skill{
    font-size: 2rem;
    color: #464646;
    line-height: 200px;
}
.skill-card:hover{
    background: var(--bg);
}
.skill-card:hover .skill{
    color: #fff;
}
.skill-card.large{
    grid-column: 2 span;
}