.main {
    display: flex;
flex-direction: column;
align-items: flex-start;
flex-wrap: nowrap;


    
    
    
}
.remark{
    color: #1572B6;
}
.main__title{

color: #FFFFFF;
font-size: 40px;
font-weight: bold;
padding: 40px 50px;
margin: 20px 0px;
}

.main__btn{
margin-left: 50px;
}