@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
@import url("reset.css");
@import url("header.css");
@import url("main.css");
@import url("about-me.css");
@import url("title.css");
@import url("skills.css");
@import url("projects.css");
@import url("contacts.css");
@import url("footer.css");
body{
    background-color: rgb(13, 17, 17);
}

h1{
    font-family: "Workbench", sans-serif;
}

.page{
    
    max-width: 1142px;
    margin: 0 auto;
 }

@media screen and (max-width: 800px) {

    .page{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
       

    }
