
.about-me {
    display: flex;
    align-items: center;

}

.about-me__text {
    width: 60%;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.about-me__img {
    width: 100%;
}

.about-me__img img {
    height: 200px;
    width: 200px;
}