 @media screen and (min-width: 850px) {


     * {
         border: solid 1px red !important;



     }

     .container {
         background-color: var(--background-color);
         margin: auto;
         margin-right: 0;
     }
 }