 @media screen {

     /*{
    border: solid 1px red !important;
    box-sizing: border-box;
   
 }*/

     .container {
         min-width: 768px;
         margin: 0 auto;
         margin-right: 0;

     }
 }