 @media screen and (min-width: 850px) {


     * {
         border: solid 1px red !important;


     }

     .container {

         min-width: 768px;
         margin: 0 auto;
         margin-right: 0;

     }
 }