.Grid {
    display: grid;
    /* width: 100%; */
    height: 300px;
    gap: 10px;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
        "contact a"
        "contact b"
        "contact c"
        "contact d";
}

.grid__from{
    grid-area: contact;
    background-color: var(--itemsBg-color);
}
.grid__a{
    grid-area: a;
    background-color: var(--itemsBg-color);
}
.grid__b{
    grid-area: b;
    background-color: var(--itemsBg-color);
}
.grid__b{
    grid-area: c;
    background-color: var(--itemsBg-color);
}
.grid__b{
    grid-area: d;
    background-color: var(--itemsBg-color);
}



/* .a {
    grid-area: a;
    height: 40px;
    width: 308px;
    color: white;
    background-color: var(--itemsBg-color);
    border-radius: 10px;
}

.a input {
    color: white;
    width: 300px;
    background-color: var(--itemsBg-color);
}


.b {
    grid-area: b;
    height: 40px;
    width: 308px;
    color: white;
    background-color:var(--itemsBg-color);
    border-radius: 10px;
}

.b input {
    color: white;
    width: 300px;
    background-color: var(--itemsBg-color);
}

.c {
    grid-area: c;
    height: 130px;
    width: 308px;
    color: white;
    background-color:var(--itemsBg-color);
    border-radius: 10px;

}

.c input {
    color: white;
    height: 100px;
    width: 300px;
    background-color: #0a0a3d;


}

.d {
    grid-area: d;
    width: 308px;
    color: white;
    background-color: #0a0a3d;
    border-radius: 10px;

} */



/* .Send_Message {
    background-color: #0a0a3d;
    color: white;
    width: 200px;
    border-radius: 10px;
    margin-left: 54px;
} */