.Grid {
    display: grid;
    width: 100%;
    height: 520px;
    gap: 10px;
    grid-template-columns: 500px 500px ;
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
        "contact gmail"
        "contact twitter"
        "contact LinkedIn"
        "contact GitHub";
        justify-content: center;
}

.Grid_form {
    grid-area: contact;
    background-color: var(--itemsBg-color);
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.Grid_form option#Your_Name {
    color: var(--text-links-color);
}

.Grid_form input#Enter_Name {
    color: var(--text-links-color);
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: solid 1px white;
    background-color: var(--itemsBg-color);
}

.Grid_form option#Email {
    color: var(--text-links-color);
}

.Grid_form input#Email {
    color: var(--text-links-color);
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: solid 1px white;
    background-color: var(--itemsBg-color);
}

.Grid_form option#Message {
    color: var(--text-links-color);
}

.Grid_form textarea#Enter_text {
    color: var(--text-links-color);
    width: 400px;
    height: 165px;
    border-radius: 10px;
    border: solid 1px white;
    background-color: var(--itemsBg-color);
}

.Grid_form button {
    color: var(--text-links-color);
    background-color: var(--itemsBg-color);
}

.gmail {
    display: flex;
    align-items: center;
    grid-area: gmail;
    border-radius: 10px;
    background-color: var(--itemsBg-color);
    color: var(--text-links-color);
    
}
.gmail img{
    height: 60px;
    margin-left: 50px;
}

.twitter {
    display: flex;
    align-items: center;
    grid-area: twitter;
    border-radius: 10px;
    background-color: var(--itemsBg-color);
    color: var(--text-links-color);

}
.twitter img{
    height: 60px;
    margin-left: 50px;
}

.LinkedIn {
    display: flex;
    align-items: center;
    grid-area: LinkedIn;
    border-radius: 10px;
    background-color: var(--itemsBg-color);
    color: var(--text-links-color);

}
.LinkedIn img{
    height: 60px;
    margin-left: 50px;
}
.GitHub {
    display: flex;
    align-items: center;
    grid-area: GitHub;
    border-radius: 10px;
    background-color: var(--itemsBg-color);
    color: var(--text-links-color);

}
.GitHub img{
    height: 60px;
    margin-left: 50px;
}