.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.skills__items {
    width: 28%;
    height: 53px;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #0a0a3d;

}

.skills__items img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}