.sprite {
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    background-image: url(../assets/spritesheet\ \(14\).png);
    margin-top: -267px;
    margin-left: 45px;
    height: 255px;
    width: 125px;

}

.sprite-gmail {
    width: 30px;
    height: 30px;
    background-position: -18px -18px;
}

.sprite-linkedIn {
    width: 30px;
    height: 30px;
    background-position: -18px -84px;
}

.sprite-tumblr {
    width: 30px;
    height: 30px;
    background-position: -18px -150px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -18px -216px;
}

.sprite-text {

    display: flex;
    flex-direction: column;
    height: 223px;
    gap: 47px;
    margin-top: 17px;
    margin-left: -63px;
    color: white;
}