.projects{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(6, 43, 11);
    border-radius: 10px;
    margin: 20px 20px;
}

.title__subtext{
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 10px;
}

.projects__text{
    width: 75%; 
    padding: 20px 30px;
    font-size: 26px;
}

.title__subtext{
    font-size: 30px;
}

.projects__img img {
    width: 125px;   
    padding: 18px;
}
   
