.header{
    display: flex;
        justify-content: space-around;
        align-content: center;
        margin-top: 25px;
}

.header__links a{
        margin: 0px 20px;
}
.header__social img{
    margin: 0px 20px;
}